.example-card {
    max-width: 380px;
  }
.button-container {
  display: flex;
  justify-content: center; /* متن دکمه را در وسط قرار دهید */
}

.button-edit {
  width: 100%; /* اشغال کردن تمام عرض سطر */
}
.img-profile{
  padding-left: 16%;
}